@model HomeIndexViewModel

@if (!Model.IsDriveInProgress)
{
    <form asp-action="StartDrive">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="vstack gap-3">
            <div>
                <label asp-for="StartDriveFormData.Date"></label>
                <input asp-for="StartDriveFormData.Date" class="form-control" value="@Model.Today" />
                <span asp-validation-for="StartDriveFormData.Date" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="StartDriveFormData.StartKilometers"></label>
                <input asp-for="StartDriveFormData.StartKilometers" class="form-control" />
                <span asp-validation-for="StartDriveFormData.StartKilometers" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="StartDriveFormData.JobSiteId"></label>
                <select asp-for="StartDriveFormData.JobSiteId" asp-items="@Model.JobSites" class="form-control"></select>
            </div>
            <div class="d-grid">
                <button class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
}

@if (Model.IsDriveInProgress)
{   
    if (Model.DriveInProgress != null)
    {
        <div>
            <h2>Drive in progress</h2>
            <p>Started on @Model.DriveInProgress?.Date</p>
            <p>Start kilometers: @Html.DisplayFor(x => x.DriveInProgress.StartKilometers)</p>
            <p>Job site: @Model.DriveInProgress?.JobSite?.Address</p>
        </div>
    

        <form asp-action="EndDrive">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="vstack gap-3">
                <div>
                    <label asp-for="EndDriveFormData.EndKilometers"></label>
                    <input asp-for="EndDriveFormData.EndKilometers" class="form-control" value="@Model.Today" />
                    <span asp-validation-for="EndDriveFormData.EndKilometers" class="text-danger"></span>
                </div>
                <div>             
                    <input type="hidden" asp-action="EndDrive" asp-for="EndDriveFormData.DriveLogId" value="@Model.DriveInProgress.Id"/>
                </div>
                <div class="d-grid">
                    <button class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
    }
}




