@model JobSite

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="vstack gap-3">
    <div>
        <label asp-for="Name"></label>
        <input asp-for="@Model.Name" class="form-control"/>
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="@Model.Address" class="control-label"></label>
        <input asp-for="@Model.Address" class="form-control" />
        <span asp-validation-for="@Model.Address" class="text-danger"></span>
    </div>
    <div class="d-grid">
        <button class="btn btn-primary">Submit</button>
    </div>
    </div>
</form>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}