@model IEnumerable<JobSite>


@if (TempData["SuccessMessage"] != null){
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]
    </div>
}

<span>Job Sites</span> <a asp-action="Create" class="btn btn-primary"><i class="bi bi-plus"></i></a> 
<hr />
<div class="vstack gap-3">
    @foreach (var jobSite in Model)
    {
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@jobSite.Name</h5>
                <p class="card-text">@jobSite.Address</p>
            </div>
            <div class="card-footer d-flex gap-2">
                <a asp-action="Edit" asp-route-id="@jobSite.Id" class="btn btn-primary flex-fill"><i class="bi bi-pen"></i></a>
                <a asp-action="Delete" asp-route-id="@jobSite.Id" class="btn btn-danger flex-fill"><i class="bi bi-trash"></i></a>
            </div>
        </div>
    }
</div>

